@import url(base.css);
.btn{
  width:204px;
  height:16px;
  position:absolute;
  right:460px;
  bottom:20px;
}
.btn1{
    background: url(../img/yuan.png) no-repeat 0 0;
}
.btn li{
  width:18px;
  height:18px;
  border:2px solid #ccc;
  border-radius:50%;
  float:left;
  margin-left:10px;
  display:inline;
  cursor:pointer;
   
}
.btn li:hover{
  background:#fff;
}
/**/
.top{
	width: 100%;
	height: 200px;
	background: #ffd54d;
	margin:0 auto;
   }
 .top a{
 	display:block;
 }
 .head{
 	width:1200px;
    height:200px;
    margin:0 auto;
 }
 .top img{
 	margin-left:105px;
 }
.header{
	width:100%;
	height:185px;
	margin:0 auto;
    background:#da1726 url(../img/2.png);;
    background-position: 0 185px;
    background-size: 40px 244px;
    
}
.header1{
    width:1220px;
	height:185px;
	margin:0 auto;
	position: relative;
}
.daohang{
    width: 1200px;
    height: 32px;
    margin:0 auto;
}
.daohangleft{
	width:274px;
	height: 32px;
	float:left;
}
.daohangleft p{
	font-size:12px;
	color:#fff;
	display: block;
	float: left;
	margin-top:10px;
}
.daohangleft a{
	display: block;
	font-size:12px;
	color:#fff;
	float: left;
	margin:10px 0 10px 20px;
}
.daohangleft a:hover{
	color:#fff436;
}
.daohangright{
	width:644px;
	height: 32px;
	float:right;
}
.daoghang1{
	width: 82px;
	height: 22px;
	float:left;
	padding-top: 10px;
	position: relative;
}
.daoghang1 a{
	display: block;
	color:#fff;
	font-size: 12px;
	float: left;
}
.daoghang1 a:hover{
	color:red;
	text-decoration: underline;
}

.daoghang1 p{
	display: block;
	position: absolute;
	top: 11px;
    right: 6px;
}
.daohang1-1{
	margin-left:13px;
}

.xiangxia{
	width: 13px;
    height: 13px;
	background: url(../img/3.png) no-repeat -2px -1px;
}
.daoghang2{
	width: auto;
	height: 32px;
	float:left;
	position:relative;
}

.daohang2 img{
	display:block;
	margin-left:5px;
	float:left;
}
.daoghang2 a{
	display: block;
	color:#fff;
	font-size: 12px;
	margin: 10px 10px 0 20px;
}
.daoghang2 a:hover{
	color:#fff436;
}
.box{
	width: 18px;
    height: 29px;
    float: left;
    background:url(../img/444.png) no-repeat -270px -71px;
    position:absolute;
    top:1px;
    left:0px;
}
.box1{
	width: 15px;
    height: 32px;
    line-height: 32px;
    color:#fff;
}
.box2{
	width: 13px;
    height: 32px;
    float:left;
    background:url(../img/8.png) center no-repeat;
    position:absolute;
    top:3px;
    left:-2px;
}
.box3{
	width: 18px;
    height: 32px;
    float: left;
    background:url(../img/444.png) no-repeat 3px -18px;
    position:absolute;
    top:1px;
    left:0px;
}
/*daohang end*/
.sousuobigbox{
	width: 1220px;
	height: 153px;
	margin:0 auto;

}
.sousuo{
	width:550px;
	height: 93px;
	float: right;
}
.sousuobox{
	width:550px;
	height:36px;
}
.sousuobox input{
	border:none;
}
#one{
	width:450px;
	height:30px;
	float:left;
	margin-top:27px;
	border:3px solid #c40000;
	font-size:12px;
	color:#837f6f;
	display:block;
	vertical-align:middle;}
#two{
	width:90px;
	height:36px;
	float:left;
	margin-top:27px;
	background:#c40000;
	border:3px solid #c40000;
	font-size:16px;
	color:#fff;}
.sousuoboxziti{
	width:522px;
	height:20px;
	float:left;
	margin:0 auto;
   padding-top: 8px;}
.sousuoboxziti a{
	display: block;
}
.huang{
	color:#ffb500;
	font-size:12px;
}
.hui{
	color:#fff;
	font-size: 12px;
}
.zi{
  display: inline-block;
  border-left: 1px solid #ccc;
  padding: 0 12px;
  float:left;
  line-height:1.0;
}
.zi1{
  border-left: 0 solid #ccc;
  padding:0 12px 0 0;
  float:left;
  line-height:1.0;
}
.sousuout{
  width:1200px;
  height: 93px;
  margin:0 auto;
}
.sousuoimg{
	width: 350px;
	height: 93px;
	float:right;
}
.sousuoimg img{
	margin:8px 0 0 155px;
	background-color: transparent;
}


.sousuoutimg1{
	width: 290px;
	height: 153px;
	background:url(../img/13.gif);
	position: absolute;
	top:32px;
	left:-50px;
}
/*sousuo end*/
.headbottom{
  width: 1200px;
  height: 12px;
  margin:0 auto;
}
.headbottom-1{
  width:745px;
  height: 12px;
  margin:0 auto;
  margin-top:25px;
}
.headbottom a{
  height: 12px;
  display:block;
  color:#fff;
  font-size:16px;
  float:left;
}
.headbottom-1 span{
	display: block;
	float:left;
	color:#fff;
    font-size:16px;
    margin:5px 15px 0 15px;
}
.headbottom-1 a:hover{
	color:#ffb500;
}
/* banner */

.banner{
    width:100%;
    height:500px;
    background:#e8e8e8;
    margin:0 auto;
   
}
.bannerimgleft{
    position: absolute;
    height: 100%;
    width: 410px;
    background:red;
    background-image:url(../img/11.png) no-repeat center right;
}
.bannerimg{
	width:1200px;
	height:500px;
	margin:0 auto;
	position:relative;
}
.banbox{
	width: 1200px;
	height: 500px;

}
.banbox a{
	position: absolute;
}
.listbox{
  width:190px;
  height:500px;
  float:left;
  position:absolute;
  top:0px;
  left:0px;
  opacity:0.7;
  background-color: #000;
}
.list1{
	width:190px;
	height:500px;
	float:left;
	position: absolute;
	top:0px;
	left: 0px;
}
.bannerimg1 img{
	display:block;
	width:1180px;
	margin:0 auto;
}
.bannerimg a{
    display: block;
}
.list1 a{
    display: inline-block;
    font-size: 14px;
    color:#fff;
    border: none;
    line-height: 31px;
}
.list1 a:hover{
	text-decoration: underline;
}
.list1 span{
    display: inline-block;
    font-size: 14px;
    color:#fff;
    border: none;
    line-height: 31px;
}
.list1 li{
	display: inline-block;
	width: 190px;
	height: 31px;
}
.list1 li:hover{
	background: #000;
}
.list1 img{
	display: inline-block;
	float:left;
	margin-left:14px;
	margin-right: 4px;
	margin-top:8px;
}
.list1 img:hover{
	background-color:#fff;
}
.bannerimgleft{
	width:170px;
	height: 440px;
	position: absolute;
	top:30px;
	right:0px;
}
/*banner end 163 444*/
.guanggao{
	width:100%;
	height:607px;
	background:#c5111f url(../img/15.png); 
	margin:0 auto;
	overflow: hidden;
}
.ggtop{
	width:1200px;
	height: 148px;
	margin:15px auto 0 auto;
}
.ggtopbox{
	width:296px;
	height:148px;
	float:left;
	margin-right: 5px;
}
.ggtop a{
	display: block;
}
.ggtop img{
	width:296px;
	height: 148px;
	display:block;
}
.ggtopbox1{
	width:296px;
	height:148px;
	float:left;
}
.ggbottom{
	width: 1200px;
	height: 424px;
	margin:0 auto;
	margin:10px auto;
	_margin:5px aoto;
}
.ggbottomtu{
	width: 1200px;
	height: 70px;
	margin:0 auto;
	background: url(../img/7.png) no-repeat center;
}
.ggbottomtu1{
	width: 1200px;
	height: 352px;
	margin:0 auto;
}
.tubox{
	width: 1200px;
	height: 172px;
    float:left;
    margin-bottom:8px;
}
.tubox a{
	display: block;
}
.tubox img{
	display: block;
}
.tubox1{
	width:398px;
	height: 172px;
	float:left;
	margin-right:8px;
}
.tubox1 img{
	width:398px;
	height: 172px;
}
.tubox2{
	width:190px;
	height: 172px;
	float:left;
	margin-right:8px;
}
.tubox2 img{
	width:190px;
	height:172px;
}
.tubox3{
	width:190px;
	height: 172px;
	float:left;
}
.tubox3 img{
	width:190px;
	height:172px;
}
/* guanggao end  348 3530 6442 561*/
.middle{
	width:100%;
	height: auto;
	background:#f5f5f5;
}
.one{
	width: 1200px;
	height: 360px;
	margin:0 auto;
}
.onetop{
	width:1200px;
	height:30px;
	margin-top:5px;
}
.onetop-left{
	width: 225px;
	height: 30px;
	float:left;
	font-size: 17px;
    font-weight: 700;
    color: #000;
    padding-left: 5px;
    width: 220px;
    line-height: 30px;
    position: relative;
}
.onetopziti{
    background: url(../img/6.png) no-repeat;
    display: block;
    position: absolute;
    width: 160px;
    height: 18px;
    top: 8px;
    left: 78px;
    background-position: -505px -117px;
}
.onetop-right{
	width:auto;
	height:30px;
    display: block;
    float: right;
}
.onetop-right1{
	font-size: 14px;
    height: 18px;
    margin: 6px 15px;
    cursor: pointer;
    color: #666;
    float:left;
    border-bottom:2px solid #000;
    font-weight: 700;
}
.onetop-right li{
	display:block;
	 float:left;
}
.onetop-right2{
    font-size: 14px;
    height: 18px;
    margin: 6px 15px;
    cursor: pointer;
    color: #666;
   
}
.onetop-right li:hover{
	color:#000;
}
.onebottom{
	width:1200px;
	height: 330px;
}
.onebottom a{
	display: block;
}
.onebottomleft{
	width:300px;
	height: 320px;
	float:left;
}
.onebottomleft img{
	width:300px;
	height: 320px;
}
.onebottomright{
	width: 900px;
	height: 320px;
	float:left;
	display: inline;
	overflow: hidden;
}
.onebottomright a{
	display: block;
}
.onebottom-img{
	width: 149px;
	height: 79px;
    float:left;
    margin:0 1px 1px 0;
    background: #fff;
}
.onebottom-img img{
	width: 90px;
	height: 45px;
	padding-top:16px;
	display: block;
	margin:0 auto;
}
/* one end */
.oneftop{
	width: 1200px;
	height: 50px;
	margin:0 auto;
}

.onetop-left1{
	height: 50px;
	float:left;
	font-size: 17px;
    font-weight: 700;
    color: #000;
    padding-left: 5px;
    width: 220px;
    line-height:50px;
    position: relative;
}
.onetopziti1{
    background: url(../img/6.png) no-repeat;
    display: block;
    position: absolute;
    width: 160px;
    height: 18px;
    top: 20px;
    left: 78px;
    background-position: -505px -134px;
    line-height: 60px;
}
.onef{
	width: 1200px;
	height: 698px;
	margin:0 auto;
}
.onefmiddle{
	width: 1200px;
	height: 590px;
	margin:0 auto;
}
.onefmiddlebox{
	width: 292px;
	height: 590px;
	float:left;
	margin:0 10px 10px 0;
	position: relative;
	background: #fff;
	overflow: hidden;
	_margin:0 10px 10px 0px;
}
/*   sanjiao */
.imgtitle{
	font-size:14px;
	color:#fff;
	margin-top: 10px;
	margin-left: 10px
}
.imgtu{
	margin-top: 3px;
	margin-left: 10px;
}
.onefmiddlebox h3{
	display: block;

}
.onefmiddlebox img{
	display: block;

}
.onefmiddleboximg{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -306px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg1{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1020px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg2{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -918px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg3{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1632px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg4{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1530px 0px;
	position: absolute;
	top:0px;
	left: 0px;}
.onefmiddleboximg5{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1428px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg7{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1836px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg8{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1734px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg9{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1223px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg10{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -714px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg11{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -816px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg12{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat 0px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg13{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -612px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg14{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -306px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg15{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -408px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg16{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -102px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg17{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -204px 0px;
	position: absolute;
	top:0px;
	left: 0px;
}
.onefmiddleboximg18{
	width: 102px;
	height: 102px;
	background: url(../img/6.png) no-repeat -1326px 0;
	position: absolute;
	top:0px;
	left: 0px;
}

.titlebox{
	width: 211px;
	height: 91px;
	background: #fff;
	margin:1px auto; 
}
.titlebigbox{
	width: 213px;
	height: 93px;
	position: absolute;
	top:172px;
	left: 32px;
	opacity: 0.8;
	border:10px solid #fff;
}
.titleboxzi{
	width: 166px;
	height: 43px;
	margin:0 auto;
	border-bottom: 1px dashed #2f2f2f;
	line-height: 43px;
	background:#fff;
}
.titleboxzi a{
	display:block;
	color: #2f2f2f;
    font-size: 16px;
    text-align: center;
}
.titleboxzi1{
	height: 48px;
	margin:0 auto;
	line-height: 48px;
}
.titleboxzi1 a{
	display:block;
	color: #2f2f2f;
    font-size: 20px;
    text-align: center;
}
.onefmiddlebox a{
	display: block;
}
.onefmiddlebox1{
	width: 292px;
	height: 590px;
	float:left;
	background:#fff;
	position: relative;
	overflow:hidden;
}
.onefbottom{
	width: 1200px;
	height: 90px;
	margin: 0px auto 10px;
	overflow: hidden;
	text-align: center;
	_margin-top:5px;
}
.onefmiddletu img{
	display: block;
	width:293px;
	height: 308px;
}
.onefmiddle a{
    display: block;

}  
.onefbottom img{
	display: block;
	margin-left:-200px;
}
.onefmiddletu{
	width:293px;
	height: 308px;
	background:#000;
}
.onefmiddlezi{
	width:293px;
	height:auto;
}
.onefmiddlezi1{
	width:280px;
	height: 70px;
	background:red;
}
.onefmiddlezi a{
	display: block;
	float: left;
	
}
.hang{
	margin:10px 5px 15px;
    width: 280px;
    height: 70px;
}
.onefmiddlezi img{
	display: block;
	width: 70px;
	height: 70px;
	float:left;
}
.huizi {
	float: left;
	width: 180px;
    padding: 10px;
}
.da{
	font-size: 16px;
	color:#2f2f2f;
}
.da1{
	font-size: 12px;
	color:#666;
}
.onefmiddlezi1 span{
	display: block;
}

.liketitle{
	height: 43px;
	background: url(../img/6.png) no-repeat;
    background-position: -726px -100px;
    width: 200px;
    margin:0 auto;
}
/* liketitle end*/
.like{
	width: 1200px;
	height: 326px;
	margin:0 auto;
}
.liketu{
	width: 231px;
	height: 230px;
}
.liketu img{
	width: 230px;
}
.likebox1{
	width: 234px;
	height: 319px;
    background:#fff;
    margin-bottom: 7px;
    float: left;

}
.likebox1 a{
	display: block;
}
.likebox1 span{
	display: block;
}
.likebox{
	width: 234px;
	height: 319px;
    background:#fff;
    margin-right: 7px;
    margin-bottom: 7px;
    float: left;
}
.likebox a{
	display: block;
}
.likebox span{
	display: block;
}
.likebox .likezi1{
	line-height: 32px;
    color: red;
    margin-left: 12px;
}
.likezi1{
	line-height: 32px;
    color: red;
    margin-left: 12px;
}
.likezi{
	padding:14px 12px 0;
	font-size: 13px;
	color:#666;
	line-height: 18px;
    height:35px;
    overflow: hidden;
}
/*20 end*/
.middleend{
	width: 76px;
	height: 43px;
	margin: 20px auto 0;
	background:url(../img/6.png) no-repeat
	-33px -114px;
}
.middleend-box{
	width: 1226px;
	height: 90px;
	margin: 0 auto;
}
/* middle end*/
.footer{
	width:100%;
	height:363px;
	margin:0 auto;
	background:#ffffff;}

.footer1{
	width:1200px;
	height:343px;
	margin:0 auto;
	padding-top:20px;
}
.foottop{
	width:1200px;
	height:105px;
	background:url(../img/foottop.jpg) no-repeat;
	margin-bottom: 20px;

}
.foota{
	display:block;
	width:297px; 
	height:105px;
	float: left;
}
.footer2{
	width: 1200px;
	height: 213px;
	border-top:1px solid #919191;
}
.footzi{
	width:190px;
	height:160px;
	margin-left: 50px;
	margin-top: 30px;
	background-color: #fff;
     float: left;
     line-height: 20px;
     _margin-left: 40px;

}
.bzi{
	color: #646464; 
	font-size: 16px;
	display:block;
	line-height: 30px;
}
.szi{
	color: #8b8b8b;
	font-size: 12px;
	display:block; 
}
.ewm{
	width:100px;
	height: 100px;
	margin-top: 12px;
}
.ewm img{
	width: 100px;
}
/*footer end*/
.di{
	width: 100%;
	height: 196px;
	background: #000;
	margin:0 auto;
    border-top:2px solid #c40000;
}
.dibox{
	width: 1200px;
	height: 196px;
	margin:0 auto;
	overflow:hidden;
}
.diboxziti p{
	display: block;
	font-size: 12px;
	float:left;
	margin-left: 7px;
	margin-right: 2px;
	color:#fff;
	_margin-left: 3px;
	_margin-right: 1px;
}
.dibox span{
	margin:10px 0 20px 20px; 
	display: block;
	font-size: 12px;
	color:#fff;
}
.dim span{
	display: block;
	font-size: 12px;
	
}

.dibox a{
	display: block;
	font-size: 12px;
	float:left;
	color: #fff;
	margin-bottom: 10px;
}
.diboxziti{
	margin-left:20px;
}
.dit{
	float:left;
	margin-left: 20px;
	_margin-left:10px;
}
.dit2{
	color:#a4a4a4;
	font-size:12px;
	width: 330px;
	height: 15px;
	float: left;
}
.dim1 p{
	color:#a4a4a4;
	font-size:12px;
}
.dim1{
	width:1200px;
	height:12px;
	float:left;
	margin-top:5px;
	color:#a4a4a4;
	font-size:12px;
	margin-left: 20px;
	_margin:0  0 0 10px;
}
.dim p{
	width:1200px;
	height:12px;
	float:left;
	margin-top:5px;
	color:#6a6a6a;
	font-size:12px;
	margin-left: 20px;
	_margin:2px 0 0 10px;
}
.ditu img{
	display:block;
	float:left;
	margin:15px 0 0 10px;
	_margin:7px 0 0 5px;
}
.ditu{
	margin-left:10px;
}
/**/
.rightbox{
	width:35px;
	height:100%;
	background:#000000;
	position:fixed;
	right:0;
	margin:0 auto;
    _position:absolute !important;
	_margin-top:10px;
    _top:expression(eval(document.documentElement.scrollTop-10));
}
.boxtop{
	height:119px;
	background:#000000;
	overflow: hidden;
}
.boxtop a{
	display: block;
}
.boxmiddle{
	height:99px;
	background:#000000;
}
.boxmiddle1{
	width: 20px;
	border-top:1px solid #fff;
	margin:0 auto;
}
.boxmiddle:hover{
	background: red;

}
.img3:hover{
	background: red;

}
.img4:hover{
	background: red;

}
.boxmiddle2 a{
	display: block;
}
.img1{
	width:20px;
	height:17px;
	background:url(../img/4.png) no-repeat;
	margin:0 auto;
	position: relative;
	top:8px;
	left:2px;
	}

.img2.uu{
	width:12px;
	height:54px;
	font-size:12px;
	color:#ffffff;
	margin:14px auto;
	position: relative;
}
.img2 a{
	width:12px;
	height:54px;
	font-size:12px;
	color:#ffffff;
	margin:0 auto;}
.img3{
	width:35px;
	height:35px;
	margin:0 auto;
	margin-top:10px;}
.img4{
	width:35px;
	height:35px;
	margin:0 auto;}
.boxbottom a{
		display: block;
	}
.img5{
	width:35px;
	height:35px;
	margin:0 auto;
	margin-top:64px;}
.img5:hover{
	background: red;

}

